@import "../node_modules/leaflet/dist/leaflet.css";
@import "../node_modules/bootstrap/scss/bootstrap.scss";
#map {
  width: 100%;
  height: 600px;
}
.card {
  max-width: 500px;
}
.image {
  width: 142.57px;
  height: 100px;
}
header {
  display: flex;
  justify-content: center;
  align-items: center;
}
.area {
  color: $primary;
}
